table,th,tr, table1 , td{
    border:1px solid black;
    background-color:rgb(237, 250, 247);
}



div{
    float: left;
    margin: 25px;
}
#tabl2{
    margin:20px;
    text-align:center;
    height: 100px;
    
}
